PORT=5050
MONGO_URI=mongodb+srv://resqnet:Qwerty2005@cluster0.l8fydso.mongodb.net/smartwaste?appName=Cluster0
JWT_SECRET=2be0608671a70e71ae44d77fd09dfa169099b9f8653950f4ea0ca62f167d9fab
JWT_EXPIRES_IN=7d

# set this to your deployed frontend URL in production (e.g. https://smartwaste.vercel.app)
# to lock CORS down; leave blank locally
CLIENT_URL= http://localhost:5173

# points per kg, admin can also change these later from the DB
POINTS_PER_KG_RECYCLABLE=12
POINTS_PER_KG_ORGANIC=7
POINTS_PER_KG_MIXED=4

